@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* navbar blur on scroll */
header {
    background-color: transparent; /* Navbar transparan */
    transition: background-color 0.3s ease; /* Transisi halus saat mengganti warna */
}

header.scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang dengan transparansi */
    backdrop-filter: blur(5px); /* Efek blur */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Tambahkan efek bayangan */
}

.link-hover {
    @apply hover:underline hover:underline-offset-8 decoration-2 hover:bg-gradient-to-r from-teal-500 to-blue-600 hover:bg-clip-text hover:text-transparent transition duration-300 ease-in-out;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Custom CSS for Wave Animation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Animasi Gelombang: Posisi dan ukuran untuk gelombang */
.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.animated-text {
    animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

.hero-waves {
    display: block;
    width: 100%; /* Lebar gelombang akan mengisi seluruh layar */
    height: 60px; /* Tinggi gelombang */
    position: absolute; /* Posisi absolute untuk menempatkannya di bawah konten */
    bottom: 0; /* Memastikan gelombang berada di bagian bawah */
}

/* Animasi untuk wave1 */
.wave1 use {
    animation: move-forever1 10s linear infinite; /* Animasi gerak untuk wave1 */
    animation-delay: -2s; /* Memberikan delay untuk animasi agar tidak mulai bersamaan */
    fill: #a0d9d1; /* Warna gelombang pertama (Teal) */
    opacity: 0.6; /* Membuat gelombang lebih transparan agar menyatu dengan latar belakang */
}

/* Animasi untuk wave2 */
.wave2 use {
    animation: move-forever2 8s linear infinite; /* Animasi gerak untuk wave2 */
    animation-delay: -2s; /* Memberikan delay untuk animasi agar tidak mulai bersamaan */
    fill: #c5e0e0; /* Warna gelombang kedua (Teal lebih gelap) */
    opacity: 0.4; /* Gelombang lebih transparan */
}

/* Animasi untuk wave3 */
.wave3 use {
    animation: move-forever3 6s linear infinite; /* Animasi gerak untuk wave3 */
    animation-delay: -2s; /* Memberikan delay untuk animasi agar tidak mulai bersamaan */
    fill: #ffffff; /* Warna gelombang ketiga (Putih) */
}

    /* Keyframes untuk animasi wave1 */
    @keyframes move-forever1 {
        0% {
            transform: translate(85px, 0%); /* Posisi awal gelombang pertama */
        }
        100% {
            transform: translate(-90px, 0%); /* Posisi akhir gelombang pertama */
        }
    }

    /* Keyframes untuk animasi wave2 */
    @keyframes move-forever2 {
        0% {
            transform: translate(-90px, 0%); /* Posisi awal gelombang kedua */
        }
        100% {
            transform: translate(85px, 0%); /* Posisi akhir gelombang kedua */
        }
    }

    /* Keyframes untuk animasi wave3 */
    @keyframes move-forever3 {
        0% {
            transform: translate(-90px, 0%); /* Posisi awal gelombang ketiga */
        }
        100% {
            transform: translate(85px, 0%); /* Posisi akhir gelombang ketiga */
        }
    }

    @keyframes up-down {
        0% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(-10px);
        }
    }



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dark Mode ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body.dark {
    background-color: #1a1a1a; /* Warna latar belakang gelap */
    color: #f0f0f0; /* Warna teks terang */
}

body.dark .link-hover {
    @apply hover:underline hover:underline-offset-8 decoration-2 hover:bg-gradient-to-r from-teal-500 to-blue-600 hover:bg-clip-text hover:text-transparent transition duration-300 ease-in-out;
}

body.dark .bg-slate-100 {
    background-color: #2a2a2a; /* Warna latar belakang untuk elemen tertentu */
}

body.dark .bg-white {
    background-color: #1a1a1a; /* Warna latar belakang untuk elemen tertentu */
}

body.dark .bg-gray-100 {
    background-color: #3a3a3a; /* Warna latar belakang untuk elemen tertentu */
}

body.dark .text-slate-600 {
    color: #e0e0e0; /* Warna teks untuk elemen tertentu */
}

body.dark header.scrolled {
    background-color: rgba(0, 0, 0, 0.6); /* Warna latar belakang dengan transparansi */
    backdrop-filter: blur(10px); /* Efek blur */
    box-shadow: 0 4px 10px rgba(74, 74, 74, 0.1); /* Tambahkan efek bayangan */
}

/* Animasi untuk wave1 */
body.dark .wave1 use {
    animation: move-forever1 10s linear infinite; /* Animasi gerak untuk wave1 */
    animation-delay: -2s; /* Memberikan delay untuk animasi agar tidak mulai bersamaan */
    fill: #4e9a94; /* Warna gelombang pertama (Teal) */
    opacity: 0.6; /* Membuat gelombang lebih transparan agar menyatu dengan latar belakang */
}

/* Animasi untuk wave2 */
body.dark .wave2 use {
    animation: move-forever2 8s linear infinite; /* Animasi gerak untuk wave2 */
    animation-delay: -2s; /* Memberikan delay untuk animasi agar tidak mulai bersamaan */
    fill: #607d8b; /* Warna gelombang kedua (Teal lebih gelap) */
    opacity: 0.4; /* Gelombang lebih transparan */
}

/* Animasi untuk wave3 */
body.dark .wave3 use {
    animation: move-forever3 6s linear infinite; /* Animasi gerak untuk wave3 */
    animation-delay: -2s; /* Memberikan delay untuk animasi agar tidak mulai bersamaan */
    fill: #1a1a1a; /* Warna gelombang ketiga (Putih) */
}


/* back to top */
#back-to-top {
    display: none; /* Sembunyikan tombol secara default */
    cursor: pointer; /* Ubah kursor saat hover */
    z-index: 1000; /* Pastikan tombol di atas elemen lainnya */
}





